.nssc-page{
    background: url(imgs/backgrounds/36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loader{
    height: 100vh;
    width: 100vw;
    background-color: #452F90;
    position: fixed;
    top: 0;
    left: 0;
    animation: fade3 0.5s both 2s 1;
    transition: all 0.2s ease;
    z-index: 10000;
}

.loader .inner-loader svg{
    width:100px;
}

@keyframes fade3{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loader .inner-loader{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .logo{
    height: 170px;
    width: auto;
    position: relative;
    animation: fade 3s 1 both;
}

@keyframes fade{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.loader .inner-rotor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.1);
    border-top: 3px solid rgb(11, 73, 102);
    /* border-bottom: 2px solid #fff; */
    animation: inner-rotate 2s 1 ease,fade2 2s 1 both;
}

@keyframes inner-rotate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(-360deg);
    }
}

.loader .outer-rotor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.1);
    /* border-left: 2px solid #fff; */
    border-top: 3px solid rgb(11, 73, 102);
    animation: outer-rotate 2s 1 ease,fade2 2s 1 both;
}

@keyframes outer-rotate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.loader .logo img{
    width: auto;
    height: 100%;
}

@keyframes fade2{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:500px){

}
